.shop-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
}

.shopCategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shopCategory-indexSort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 170px;
}

.shopCategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}

.shopCategory-indexSort p span {
  font-weight: 600;
}

.shopCategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
}

/* .shopCategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  width: 233px;
  height: 69px;
  gap: 20px;
  padding: 10px 20px;
  border-radius: 75px;
  background: #ffffff;
  color: #888;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
} */

.shopCategory-loadmore {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 150px auto;
  gap: 10px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: var(--nav-primary);
  border: none;
  background-color: var(--bg);
  border-radius: 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.6s;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  outline: none;
}

.shopCategory-loadmore:hover {
  color: var(--bg);
  background-color: var(--nav-secondary);
  transform: scale(1.1);
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
