@import "../Navbar/Navbar.css";

.news-letter {
  width: 65%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 140px;
  margin-bottom: 150px;
  background-image: linear-gradient(180deg, #1c2f46 0%, #e0e0e0 60%);
  gap: 30px;
  

}

.news-letter h1 {
  color: var(--nav-primary);
  font-size: 3.4375rem;
  font-weight: 600;
}

.news-letter p {
  color: var(--nav-primary);
  font-size: 20px;
  margin-bottom: 12px;
}

.news-letter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 730px;
  height: 70px;
  border-radius: 80px;
  border: 1px solid var(--bg);
}

.news-letter input {
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  font-family: Poppins;
  font-size: 1rem;
}

.news-letter div button {
  width: 210px;
  height: 70px;
  border-radius: 80px;
  background: black;
  color: var(--bg);
  font-size: 1rem;
  cursor: pointer;
}
